footer.page-footer {
    background-color: #000;
    height: 350px;
    .footer-wrapper {
        display: flex;
        width: 85%;
        margin: 0 auto;
        flex-wrap: wrap;
        overflow: hidden;
        height: 100%;
        .footer-box {
            margin: 0 15px;
            width: calc(100% / 3);
        }
    }
}